.search{
    margin-top: 40px;

}
.form_div{
  
    width: 1000px;
    height: 50px;
  
}
#form_input{
    width: 620px;
}

.search_form{
    margin-left: 200px;
}


@media screen and (max-width:560px) {


    #form_btn{
        width: 440px;
    }
    .search_form{
        margin-left: 20px;
    }
    
}

@media screen and (min-width:560px) and (max-width: 1014px) {


    #form_btn{
        width: 618px;
    }
    .search_form{
        margin-left: 3px;
        margin-right: 3px;
        
    }
    
}

 /*888888888888888888888888888*/

#sree{
    padding-top: 100px;
   
}

.test_test{
    margin-top: 30px;
}
